html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto Mono', monospace;
  background-color: black;
  color: white;
}

/*-- Barra de navegacion ----- */

.Barra-Navegacion {
  display: grid;
  grid-template-columns: 1fr 3fr;
  border-bottom: 0.2rem solid;
  margin-bottom: 3rem;
}

.Barra-Navegacion .menu {
  display: none;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0;
}

nav ul a {
  color: white;
  text-decoration: none;
}

nav ul li {
  cursor: pointer;
  padding: 1 0.5rem;
  padding: 1rem;
}

nav ul li:hover:not(:last-child) {
  color: black;
  background-color: whitesmoke;
}

nav ul #sun {
  display: none;
}

@media (max-width: 768px) {

  .Barra-Navegacion {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .Barra-Navegacion ul {
    padding: 0;
    display: block;
    flex-direction: column;
  }
}

/* ----- Seccion Sobre mi -----*/
.sobre-mi {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 10px;
  grid-gap: 10px;
}

.sobre-mi h2 {
  color: whitesmoke;
  border-bottom: 1rem solid;
  margin-right: 10rem;
}

.sobre-mi .Img-dario {
  background-image: url('img/Dario.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .sobre-mi {
    display: flex;
    flex-direction: column;
  }

  .sobre-mi .Img-dario{
    height: 520px;
  }
}

/* ----- Escolaridad -----*/

.greenHighlight {
  color: #059862;
}

.blueHighlight {
  color: #0d47a1;
}

.escolaridad h2 {
  margin: 2rem 0 2rem 0;
  text-align: center;
  background-color: whitesmoke;
  color: black;
}

.escolaridad .image-container {
  position: relative;
  text-align: center;
}

.escolaridad .image-container .preparatoria {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  letter-spacing: 0.7rem;
}

.escolaridad .image-container .preparatoria h3 {
  margin: 0;
  padding: 0.2rem 0;
  font-size: 1.7rem;
}

.escolaridad .image-container img {
  width: 100%;
  max-height: 25rem;
  object-fit: cover;
}

.escolaridad .texto-preparatoria {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  text-align: center;
  margin: 0 25%;
}

.escolaridad .texto-preparatoria h4 {
  font-size: 1.5rem;
}

/* ----- Habilidades ----- */
.habilidades {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  margin: 0 20%;
}


.escolaridad h4 {
  font-size: 1.5rem;
  text-align: center;
}

.proyectos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-gap: 2.5rem;
}

@media (max-width: 768px) {
  .proyectos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
}

@media (max-width: 480px) {
  .proyectos {
    display: flex;
    flex-direction: column;
  }
}

.proyecto {
  padding: 2rem;
  margin: 0 auto;
  height: 13rem;
  width: 13rem;
  color: black;
  background-color: whitesmoke;
  transition-property: height, width;
  transition-duration: 0.5s;
}

.proyecto a {
  color: #551a8b;
  text-decoration: none;
  font-style: italic;
}

.proyecto:hover {
  height: 14rem;
  width: 14rem;
  -webkit-box-shadow: 4px 6px 30px 16px rgba(255, 255, 255, 0.31);
  -moz-box-shadow: 4px 6px 30px 16px rgba(255, 255, 255, 0.31);
  box-shadow: 4px 6px 30px 16px rgba(255, 255, 255, 0.31);

}

.foot {
  padding: 1rem;
  border-top: 0.2rem solid whitesmoke;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.foot .contacto {
  cursor: pointer;
  display: flex;
  justify-content: space-around;
}

.foot .contacto a {
  text-decoration: none;
  color: white;
}

.foot .contacto p {
  margin: 0;
}

@media (max-width: 768px) {
  .foot {
    display: flex;
    flex-direction: column;
  }

  .foot .contacto {
    display: flex;
    flex-direction: column;
  }
}